@import "core/_varaibles";

body {
  margin: 0;
  font-family: $text-RobotoSlab-Bold;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

img {
  display: block; /* cquita el espacio extra cuando la imagen esta dentro de un a*/
}

.page-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  @media all and (min-width: 768px) {
    padding-left: 38px;
    padding-right: 38px;
  }
  @media all and (min-width: 1200px) {
    padding-left: 275px;
    padding-right: 275px;
  }
}
h1 {
  font-size: 42px;
  @media all and (min-width: 768px) {
    font-size: 80px;
  }
  @media all and (min-width: 1200px) {
    font-size: 100px;
  }
}
h2 {
  font-size: 24px;
  @media all and (min-width: 768px) {
    font-size: 26px;
  }
  @media all and (min-width: 1200px) {
    font-size: 32px;
  }
}
h3 {
  font-size: 18px;
  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}

/*header*/
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $color-blue;
  width: 44px;
  height: 44px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav-head {
  width: 16px;
  height: 14px;
}
.boton {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
  font-family: $text-Roboto-Regular;
}
/*main*/
/*hero*/
.hero {
  background-image: url("../images/cover.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.container-hero {
  color: $color-white;
  padding-left: 15px;
  padding-right: 15px;
  transform: translate(0, 50%);
}

.icono-hero {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 53px;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: opacity;
  animation-iteration-count: 1;
  animation-duration: 5s;
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @media all and (min-width: 768px) {
    bottom: 45px;
  }
  @media all and (min-width: 1200px) {
    bottom: 13px;
  }
}
.title-hero {
  text-align: center;
  /*width: 290px;*/
  margin-bottom: 10px;
  /*ont-size: 42px;*/
  text-transform: uppercase;
  @media all and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media all and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
.title2-hero {
  /*width: 290px;
  height: 21px;*/
  text-align: center;
  margin-bottom: 45px;
  /*font-size: 16px;*/
  font-family: $text-Roboto-Regular;
  @media all and (min-width: 768px) {
    margin-bottom: 30px;
  }
}
/*secion editorial*/
.seccion-editorial {
  background-color: $color-white;
  padding-top: 30px;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
  @media all and (min-width: 768px) {
    padding-bottom: 60px;
  }
  .seccion-editorial-container {
    max-width: 730px;
  }
}
.title-small-editorial {
  width: 90px;
  height: 30px;
  color: $color-blue-ligth;
}
small {
  font-family: $text-Roboto-Regular;
}
.title-editorial {
  margin-bottom: 15px;
  /*width: 290px;
  height: 60px;*/
  @media all and (min-width: 768px) {
    margin-bottom: 30px;
  }
}
.parrafo-editorial {
  font-size: 18px;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
  line-height: 30px;
  margin-bottom: 30px;
  font-family: $text-Roboto-Regular;
}
.enlace-editorial {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-naranja;
  width: 76px;
  height: 45px;
  border: solid 2px $color-naranja;
  border-radius: 22.5px;
}
/*secion contenido*/
h3 p {
  font-family: $text-Roboto-Regular;
}
.seccion-contenido {
  background-color: $color-ice;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-contenido {
  text-align: center;
  margin-bottom: 45px;
  /*font-size: 24px;*/
}
.list-reasons {
  list-style: none;
  padding-inline-start: 0px;
  text-align: center;
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 27px;
    margin-bottom: 60px;
  }
}
@media all and (min-width: 768px) {
  .list-reasons li h3 {
    margin-bottom: 14px;
  }
}
@media all and (min-width: 768px) {
  .col1reason {
    grid-column: 1/3;
  }
  .col2reason {
    grid-column: 3/5;
  }
  .col3reason {
    grid-column: 5/7;
  }
}
.reason {
  margin-bottom: 45px;
}
.btn-more-reasons {
  color: $color-white;
  font-size: 20px;
  line-height: 45px;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-naranja;
  display: flex;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    width: 210px;
  }
}
/*footer*/

.footer {
  position: relative;
  font-family: $text-Roboto-Regular;
  color: $color-white;
  background-color: $color-blue-dark;
  /*font-size: 16px;*/
  text-align: center;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
}
.enlace {
  line-height: 30px;
  color: inherit;
  text-decoration: inherit;
  &:hover{
    opacity: 0.5;
  }
  }
.footer-grid {
  padding-top: 60px;
}
@media all and (min-width: 768px) {
  .footer-grid {
    display: grid;
    padding-top: 45px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 27px;
    text-align: left;
    max-width: 730px;
  }
}

@media all and (min-width: 768px) {
  .col1footer {
    grid-column: 1/1;
    grid-row: 1/2;
  }
  .col2footer {
    grid-column: 3/3;
    grid-row: 1/2;
  }
  .col3footer {
    grid-column: 5/5;
    grid-row: 1/2;
  }
}
.position-footer-flecha {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lista-footer {
  list-style: none;
  margin-bottom: 30px;
  padding: 0px;
  text-transform: uppercase;
}
.lista-footer2 {
  list-style: none;
  margin-bottom: 30px;
  padding: 0px;
  text-transform: uppercase;
}
.corazonletra {
  color: $color-naranja;
}
