<footer class="footer page-wrapper">
  <a href="#maintop" class="icono-hero position-footer-flecha enlace">
    <img src="assets/images/ico-arrow.svg" alt="icono de flecha">
  </a>
  <div class="footer-grid">
    <ul class="lista-footer col3footer">
      <li><a href="#" class="enlace">ARTICLES</a></li>
      <li><a href="#" class="enlace">BOOKS</a></li>
      <li><a href="#" class="enlace">EVENTS</a></li>
      <li><a href="#" class="enlace">REASONS</a></li>
      <li><a href="#" class="enlace">TIPS</a></li>
    </ul>
    <ul class="lista-footer2 col2footer">
      <li><a href="#" class="enlace">Twitter</a></li>
      <li><a href="#" class="enlace">Instagram</a></li>
      <li><a href="#" class="enlace">Mastodon.social</a></li>
    </ul>
    <div class="col1footer">
      <div>©2017</div>
      <div>we <span class="corazonletra">❤︎</span> components</div>
    </div>
  </div>
</footer>
