<main class="main">
  <span id="maintop"></span>
  <div class="hero">
    <div class="container-hero page-wrapper">
      <h1 class="title-hero">Anonymous <br>proxy</h1>
      <h3 class="title2-hero">In hac habitasse platea dictumst</h3>
    </div>
    <a href="index.html#editorial" class="icono-hero enlace">
      <img src="../assets/images/ico-scroll-down.svg" alt="icono flecha" class="flecha-hero">
    </a>
  </div>

  <section class="seccion-editorial page-wrapper">
    <div class="seccion-editorial-container">
      <span id="editorial"></span>
      <div class="title-small-editorial">
        <small>Insomnia Tips</small>
      </div>
      <h2 class="title-editorial">Looking Through a Window</h2>
      <p class="parrafo-editorial"> Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
        diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <a class="boton enlace-editorial enlace">GO</a>
    </div>
  </section>

  <article class="seccion-contenido page-wrapper">
    <h2 class="title-contenido">3 Reason to purchase</h2>
    <ul class="list-reasons">
      <li class="col1reason">
        <div class="reason">
          <h3>Ut sed metus</h3>
          <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
      </li>
      <li class="col2reason">
        <div class="reason">
          <h3>Curabitur ac erat</h3>
          <p>Mauris mattis urna quis lorem molestie.</p>
        </div>
      </li>
      <li class="col3reason">
        <div>
          <h3>Morbi dictum</h3>
          <p>Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </li>
    </ul>
    <button class="btn-more-reasons boton">
      More reasons
    </button>
  </article>
</main>
