<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Mi pagina web</title>
</head>

<body>
  <header class="header">
    <span id="#header"></span>
    <button class="boton">
    <img src="../assets/images/ico-menu.svg" alt="menu de navegacion" class="menu-nav-head">
    </button>
  </header>
  <main class="main">
    <div class="hero">
        <div class="title-hero">
          <h1>Anonymous <br>proxy</h1>
        </div>
        <div class="title2-hero">
          <h4>In hac habitasse platea dictumst</h4>
        </div>
        <div class="icono-hero">
          <a href="index.html#editorial">
            <img src="../assets/images/ico-scroll-down.svg" alt="icono flecha" class="flecha-hero">
          </a>
        </div>

    </div>
    <div class="page-wrapper">
      <section class="seccion-editorial">
        <span id="team" class="anchor-nav"></span>
        <div class="title-small-editorial">
          <small>Insomnia Tips</small>
        </div>
        <h2 class="title-editorial">Looking Through a Window</h2>
        <p class="parrafo-editorial"> Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <div class="enlace-editorial">
          <button class="boton">GO</button>
        </div>
      </section>
      <article class="seccion-contenido">
        <h2 class="title-contenido">3 Reason to purchase</h2>
        <ul class="list-reasons">
          <li>
            <div class="reason">
              <h3>Ut sed metus</h3>
              <p>Lorem ipsum dolor sit amet, consecteur.</p>
            </div>
          </li>
          <li>
            <div class="reason">
              <h3>Curabitur ac erat</h3>
              <p>Mauris mattis urna quis lorem molestie.</p>
            </div>
          </li>
          <li>
            <div class="reason">
              <h3>Morbi dictum</h3>
              <p>Aliquam in dolor et dolor tincidunt.</p>
            </div>
          </li>
        </ul>
        <button class="btn-more-reasons boton">
          <div>MORE REASONS</div>
        </button>
      </article>
    </div>
  </main>
  <div class="page-wrapper">
    <footer class="footer">
      <div class="icono-hero position-footer-flecha">
        <a href="index.html#header">
          <img src="../assets/images/ico-arrow.svg" alt="icono de flecha">
        </a>
      </div>
      <div>
        <ul class="lista-footer">
          <li><a href="#" class="enlace">ARTICLES</a></li>
          <li><a href="#" class="enlace">BOOKS</a></li>
          <li><a href="#" class="enlace">EVENTS</a></li>
          <li><a href="#" class="enlace">REASONS</a></li>
          <li><a href="#" class="enlace">TIPS</a></li>
        </ul>
      </div>
      <div>
        <ul class="lista-footer2">
          <li><a href="#" class="enlace">Twitter</a></li>
          <li><a href="#" class="enlace">Instagram</a></li>
          <li><a href="#" class="enlace">Mastodon.social</a></li>
        </ul>
      </div>
      <div>©2017</div>
      <div>we  <span class="corazonletra">❤︎</span> components</div>
    </footer>
  </div>

</body>

</html>
