<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Mi pagina web</title>
</head>

<body>
  <header class="header">
    <button class="boton">
      <img src="../assets/images/ico-menu.svg" alt="menu de navegacion" class="menu-nav-head">
    </button>
  </header>
  <main class="main">
    <span id="maintop"></span>
    <div class="hero">
      <div class="container-hero page-wrapper">
        <h1 class="title-hero">Anonymous <br>proxy</h1>
        <h3 class="title2-hero">In hac habitasse platea dictumst</h3>
      </div>
      <a href="index.html#editorial" class="icono-hero">
        <img src="../assets/images/ico-scroll-down.svg" alt="icono flecha" class="flecha-hero">
      </a>
    </div>

    <section class="seccion-editorial page-wrapper">
      <div class="seccion-editorial-container">
        <span id="editorial"></span>
        <div class="title-small-editorial">
          <small>Insomnia Tips</small>
        </div>
        <h2 class="title-editorial">Looking Through a Window</h2>
        <p class="parrafo-editorial"> Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
          diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <a class="boton enlace-editorial">GO</a>
      </div>
    </section>

    <article class="seccion-contenido page-wrapper">
      <h2 class="title-contenido">3 Reason to purchase</h2>
      <ul class="list-reasons">
        <li class="col1reason">
          <div class="reason">
            <h3>Ut sed metus</h3>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
          </div>
        </li>
        <li class="col2reason">
          <div class="reason">
            <h3>Curabitur ac erat</h3>
            <p>Mauris mattis urna quis lorem molestie.</p>
          </div>
        </li>
        <li class="col3reason">
          <div>
            <h3>Morbi dictum</h3>
            <p>Aliquam in dolor et dolor tincidunt.</p>
          </div>
        </li>
      </ul>
      <button class="btn-more-reasons boton">
        More reasons
      </button>
    </article>
  </main>

  <footer class="footer page-wrapper">
    <a href="#maintop" class="icono-hero position-footer-flecha">
      <img src="../assets/images/ico-arrow.svg" alt="icono de flecha">
    </a>
    <div class="footer-grid">
      <ul class="lista-footer col3footer">
        <li><a href="#" class="enlace">ARTICLES</a></li>
        <li><a href="#" class="enlace">BOOKS</a></li>
        <li><a href="#" class="enlace">EVENTS</a></li>
        <li><a href="#" class="enlace">REASONS</a></li>
        <li><a href="#" class="enlace">TIPS</a></li>
      </ul>
      <ul class="lista-footer2 col2footer">
        <li><a href="#" class="enlace">Twitter</a></li>
        <li><a href="#" class="enlace">Instagram</a></li>
        <li><a href="#" class="enlace">Mastodon.social</a></li>
      </ul>
      <div class="col1footer">
        <div>©2017</div>
        <div>we <span class="corazonletra">❤︎</span> components</div>
      </div>
    </div>
  </footer>
</body>

</html>
