<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.png"/>
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Mi pagina web</title>
</head>
<body>
  <div class="page-wrapper">
    <header class="header">
      <img src="../assets/images/ico-menu.svg" alt="menu de navegacion" class="menu-nav-head">
    </header>
    <main class="main">
      <div class="hero">
        <div class="title-hero">
            <h1 >Anonymous <br>proxy</h1>
        </div>
        <div class="title2-hero">
            <h4 >In hac habitasse platea dictumst</h4>
        </div>
        <div class="icono-hero">
          <img src="../assets/images/ico-scroll-down.svg" alt="icono flecha" class="flecha-hero">
        </div>
      </div>
    </main>

  </div>
</body>
</html>
