$color-naranja:#f26002;
$color-white:#ffffff;
$color-blue-ligth:#8ccbea;
$color-blue:#0271bc;
$color-blue-dark:#304268;
$text-RobotoSlab-Bold:'Roboto Slab', serif;
$text-Roboto-Regular:'Roboto', sans-serif

